section.board-trustees {
  padding: 40px 0;
  .position-heading {
    text-align: center;
    margin-bottom: 0;
  }
  .board-date {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 20px;

    span {
      font-style: italic;
      text-decoration: underline;
    }
  }
  .member {
    padding: 0;
    margin-bottom: 40px;
    word-wrap: break-word;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    background-color: $grey-green;
    color: $cream;

    .smaller {
      font-size: 20px;
      color: #4A4A4A;
    }
    .content {
      padding: 20px;
    }
    img {
      width: 100%;
    }
    h2 {
      text-align: center;
      margin: 0;
      padding: 0;
      color: $yellow;
    }
    h4 {
      margin: 0;
      padding: 0;
      color: $yellow;
    }
    hr {
      margin: 5px 0 10px 0;
    }

    .member-intro {

    }
  }
  @include md {
    .member {
      margin-bottom: 0;
      padding: 20px 5px;
      background-color: $white;
      box-shadow: 0 0 0;
      color: $black;
      .content {
        padding: 0;
      }
      h2, h4 {
        color: $green;
      }
    }
  }
}

.magnific-form {
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 40px 10px;
  background-color: white;

  #message {
    width: 100%;
  }

  .person {
    color: $yellow;
    font-style: italic;
    font-size: 25px;
  }

  button:hover {
    cursor: pointer;
  }

  @include md {
    padding: 40px;
  }
}
