section.archive {
  padding: 40px 15px;
  h2 {
    color: $dark-grey;
  }
  .result {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid $light-grey;
    h4 {
      margin-bottom: 10px;
    }
    .excerpt {
      display: block;
      margin-bottom: 5px;
    }
  }
  @include md {
    padding: 40px 0;
  }
}
