section.news {

  padding: 10px 0;

  .col-md-12 {
    padding: 40px 0;
  }

  img {
    display: block;
    margin: auto auto 10px auto;
  }

  .date {
    font-size: 15px;
    font-style: italic;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 0px;
  }

  .intro {
    font-size: 15px;
    margin-bottom: 0px;
  }

  a {
    color: $green;
    padding: 0;
    margin: 0;

    i {
      margin-left: 6px;
      font-size: 15px;
    }
  }

  @include md {
    img {
      margin-right: 40px;
    }
  }
}

// News update page
section.newsupdates {

  .newsletter-post {

    p {
      margin: 10px 0 !important;
    }

    .title {
      font-size: 20px;
      line-height: normal;
      margin-bottom: 0;
    }

    .date {
      font-size: 15px;
      font-weight: bold;
      margin-right: 10px;
    }
  }
}
