section.hero-404 {
  height: 50vh;
  padding: 40px 15px;
  text-align: center;
  background: 0 0 no-repeat;
  background-size: cover;
  color: $white;
  .row {
    height: 100%;
  }
  h1 {
    color: $white;
    margin-bottom: 15px;
  }
  p {
    font-style: italic;
    font-size: 15px;
  }
  .content-404 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  @include md {
    padding: 40px 0;
  }
}
