footer {
  position: relative;
  text-align: center;
  padding: 20px 15px 20px 15px;
  background-color: #0A1612;
  .col-md-6 {
    margin: 40px 0;
  }
  .footer-nav {
    padding: 40px 0;
  }
  h3 {
    margin-bottom: 15px;
    color: $marigold;
  }
  #menu-footer {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      display: block;
      margin: 0 10px;
      padding: 0 20px;
      &::after {
        content: "-";
        display: none;
        font-size: 55px;
        width: 10px;
        height: 22px;
        color: $yellow;
        position: absolute;
        right: -10px;
        top: -33px;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
    a {
      color: $white;
      &:hover {
        color: darken($white, 15%);
      }
    }
  }
  .copyright {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: $light-grey;
    span {
      display: block;
      width: 100%;
    }
    .telae {
      margin-top: 10px;
      font-style: italic;
    }
  }
  @include md {
    padding: 20px 0 0 0;

    #menu-footer {
      li {
        display: inline-block;
        text-align: center;
        &::after {
          display: block;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
