section.churches {

  .church-info {

    .address {
      margin: 0;
      padding: 0;
    }

    span {
      display: block;
    }
  }
}

section.bulliten-promo {
  background-color: $grey;

  .btn {
    background-color: $dark-grey;
    color: $white;

    &:hover {
      background-color: darken($dark-grey, 18%);
    }
  }
}
