section.churches {
  padding: 40px 0;

  .church-info {

    .address {
      margin: 0;
      padding: 0;
    }

    span {
      display: block;
    }
  }
}

section.contact-info {

  .content {
    height: 100%;
    padding: 40px;
    color: $white;

    h2 {
      color: $white;
    }
  }

  .contact {
    background-color: $denim;
  }

  .general {
    background-color: $steel;
  }
}

section.bulliten-promo {
  padding: 40px 0;
  background-color: $marigold;

  h1 {
    color: $denim;
    font-size: 22px;
  }

  .col-md-4 {
    text-align: center;
  }

  .btn {
    background-color: $denim;
    color: $white;

    &:hover {
      background-color: darken($screen, 18%);
    }
  }

  @include md {
    .col-md-4 {
      text-align: right;
    }
  }
}

section.block-columns {
  h1 {
    margin: 0;
    text-align: center;
  }

  .block {
    width: 100%;
    margin-bottom: 2px;
    padding: 50px;
    background-color: $light-grey;
  }

  .block-content {
    max-width: 400px;
    margin: 0 auto;
  }

  img {
    max-width: 125px;
    max-height: 85px;
  }

  i {
    font-size: 80px;
  }
}

section.divided-columns {
  margin: 40px 0;

  .col-md-3,
  .col-md-4,
  .col-md-6 {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $light-grey;

    &:last-child {
      border-bottom: none;
    }

    img {
      max-width: 100px;
    }
  }

  @include md {
    margin: 80px 0 100px;

    .col-md-3,
    .col-md-4,
    .col-md-6 {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
      border-right: 1px solid $light-grey;

      &:last-child {
        border-right: none;
      }
    }

    .col-md-6 {
      padding-left: 40px;
      padding-right: 40px;
    }

    .col-md-4 {
      padding-left: 40px;
      padding-right: 40px;
    }

    .col-md-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @include lg {
    .col-md-6 {
      padding-left: 80px;
      padding-right: 80px;
    }

    .col-md-4 {
      padding-left: 60px;
      padding-right: 60px;
    }

    .col-md-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}


.magnific-form {
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 40px 10px;
  background-color: white;

  h1 {
    color: $steel;
  }

  .btn-primary {
    background-color: $marigold;
    color: $white;
    border: none;
  }

  #message {
    width: 100%;
  }

  .person {
    color: $yellow;
    font-style: italic;
    font-size: 25px;
  }

  button:hover {
    cursor: pointer;
  }

  @include md {
    padding: 40px;
  }
}
